[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
discord-pretty-help = "*"
python-dotenv = "*"
yahoo-fin = "*"
invoke = "*"
requests = "*"
datetime = "*"
pandas = "*"
requests-html = "*"
sqlalchemy = "*"
pymysql = "*"
tabulate = "*"
forex-python = "*"
sentry-sdk = "*"
pytest = "*"
financelite = "*"
dateparser = "*"
matplotlib = "*"
pytz = "*"
mplfinance = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
